<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>techtrendify</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="flex justify-center items-center  h-screen">
      <form class=" flex flex-col w-[40%] gap-4" action="/user/signup" method="post">
        <input class="p-4 border border-gray-500" type="text" name="fullName" placeholder="Enter full name" />
        <input class="p-4 border border-gray-500" type="email" name="email" placeholder="Enter email" />
        <input class="p-4 border border-gray-500" type="text" name="password" placeholder="Enter password" />
        <Button class="bg-gray-500 text-white font-bold border border-gray-500 rounded-lg p-4">Register</Button>
      </form>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>
